@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    #__next {
        @apply h-full flex flex-col justify-between;
    }

    .container {
        @apply max-w-full;
    }

    html,
    body {
        @apply h-full;
    }
    /* section#root {
        width: 100vw !important;
        background-color: red;
    }
    .scroll.flex-grow.padding-lr > div {
        width: 100%;
    } */

    .tri-right.left-top:after {
        content: " ";
        position: absolute;
        width: 0;
        height: 0;
        inset-inline-start: -20px;
        inset-inline-end: auto;
        top: 0px;
        bottom: auto;
        border: 22px solid;
        border-color: white transparent transparent transparent;
    }
}
